body{
    font-size: 20pt;

    h1{
        font-size: 50pt;
    }

    h2{
        font-size: 16pt;
    }
}

.container{

    background-color: red;

    p{
        font-weight: bold;
    }
    a{
        color:green;
    }
}